.container {
    display: flex;
    margin-left: 90px;
}
.todo {
    width: 100%;
    margin-top: 20px;
}

.imagen {
    width: 200px;
    height: 200px;
    margin-top: 15px ;
    margin-left: 10%;

    object-fit: cover;
}

.data-c{
    font-size: 1em;
    width: 90%;
    margin-left: 20px;
}

.data-c .name{
   font-size: 1em;
} 


.pago {
    text-decoration: none;
    
} 

.data-c .precio{
    font-size: 1.5em;
}


.caracteristicas { 
    margin-left: 50px;
}

.caracteristicas h1{
    font-weight: bold;
    font-style: italic;
}

.comentarios{
margin-top: 200px;
margin-left: 100px
}


.com h2{
   margin-left: 15%;
   margin-bottom: 20px;
   font-style: italic;
}
.com textarea {
    width: 70%;
    height: 80px;
    border-radius: 10px;
    margin-left: 20px;
    text-align: center;
}

.ic{ 
    width: 40px;
    height: 70px;
    margin-top: -80px;
    margin-left: 100px;
}
.boton{
    margin-left: 75%;
    margin-top: 15px;
}

.error{
    margin-left: -500px;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Overpass', sans-serif;
}

.cerrar {
    width: 70px;
    height: 20px; 
    margin-top: 110px;
}

  


@media (max-width: 850px){
    .card-cont{
        width: 80%;
        height: 950px;
        margin-bottom: 50px;
        margin-left: 50px;
    }

    .card-c{
        margin-top: 50px;
        width: 70%;
        margin-left: 15%;
    }

    .data-c{
        margin-left: 50px;
    }

    .caracteristicas{
        width: 500px;
        margin-left: 50px;
    }

    .comentarios textarea{
        height: 80px;
        width: 400px;
        margin-left: 130px;
        margin-bottom: 0;
    }
    .comentarios h2 {
        margin-left: 50px;
    }
    .botones {
        margin-top: -30px;
        margin-left: 390px;
    }

}  